<% layout("/Layouts/boilerplate") %>
<script> let mapkey = '<%=process.env.MAP_TOKEN%>'</script>

    <h2>Listings Details</h2>
    
    <div class="md-center">
        <br><br><br>
        <h3><%= data.title %></h3>
        <br>
        <div>
            <img src="<%= data.image.url %>" alt="photo" width="500px">
            
        </div>

        <b>Owned by <%= data.owner.username %></b>
        <p><%= data.description %></p>
        <p>&#8377;<%= data.price.toLocaleString("en-IN")%></p>
        <p><%= data.location %></p>
        <p><%= data.country %></p>
        <% if(currUser && data.owner._id.equals(currUser._id)){ %>
        <div class="first">
            <div>
                <form action="/listings/<%= data.id %>/edit" method="get">
                    <button>Edit</button>
                </form>
            </div>
           
            <div>     
                 <form action="/listings/<%= data.id %>?_method=DELETE" method="post">
                       <button id="del">Delete </button>
                  </form>
            </div>
        </div>
        <hr>
        <% } %>

        <% if (currUser) { %>
            <div >
                <h4>Leave a  Review</h4><br><br>
                <form action="/listings/<%= data.id %>/reviews" method="post" novalidate class="needs-validation">
                    <div>
                        <!-- <label class="form-label" for="rating">Rating</label> -->
                        <!-- <input type="range" name="review[rating]" id="rating" min=1 max=5> -->
                        <fieldset class="starability-grow">
                            <p>Rate this location</p>
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                          </fieldset>
                          
                    </div><br>
                    <div>
                        <label class="form-label" for="comment">Comments</label>
                        <textarea class="form-control"type="text" name="review[comment]" id="comment" required></textarea>
                        <div class="valid-feedback">
                            Review looks good
                        </div>
                        <div class="invalid-feedback">
                           Please add a valid review.
                         </div>
                    </div><br>
                    <button class="btn btn-outline-dark">Submit</button>
                </form>
            </div>
            <hr>
            
        <% } %>
        
        <% if (data.reviews.length != 0) { %>
            <hr>
        
        <H4>All Reviews</H4>
        <div class="row">
            
            <% for (review of data.reviews) {%>
                <div class="card col-5 mb-3">
                   <div class="card-body">
                      <h5 class="card-title"><%= review.author.username%></h5>
                      <p class="card-text"><%= review.comment %></p>
                      <p class="card-text"><%= review.rating %> stars</p>
                      <!-- <p class="card-text"><%= review.id %> stars</p> -->
                   </div>
                   <form action="/listings/<%= data.id %>/reviews/<%= review.id %>?_method=DELETE" method="post">
                    <button class="btn btn-sm btn-danger mb-2">Delete</button>
                   </form>
                </div>
            <% } %>    
        </div>
        <hr>
        <% } %>
      <div>
        <h3>Where You'll be </h3>
        <div id="map"></div>
      </div>
        
    </div>

<script src="../public/map.js"></script>    
